*.pyc
.*.swp
/.build
/marionb_geomapfish.egg-info
/jsbuild/app.cfg
/node_modules
/apache/README.txt
/apache/frontend.conf
/apache/mapserver.conf
/apache/wsgi.conf
/apache/tinyows.conf
/apache/application.wsgi
/deploy/deploy.cfg
/docker-compose.yml
/alembic.ini
/alembic_static.ini
/development.ini
/production.ini
/project.yaml
/.tx/config
/.tx/ngeo.gmf-*
/.whiskey/action_hooks/pre-build
/print/print-servlet.war
/print/WEB-INF/lib/*.jar
/print/WEB-INF/classes/logback.xml
/print/print-apps/marionb_geomapfish/config.yaml
/mapserver/c2cgeoportal.map
/mapserver/demo.map
/mapserver/tinyows.xml
/mapserver/replace_db.sh
/testDB/11-schemas.sql
/testDB/12-alembic.sql
/testDB/13-alembic-static.sql
/testDB/Dockerfile
/deploy/hooks/pre-restore-database
/deploy/hooks/post-restore
/marionb_geomapfish/version.py
/marionb_geomapfish/locale/*/LC_MESSAGES/*.mo
/marionb_geomapfish/locale/marionb_geomapfish-*.pot
/marionb_geomapfish/static-ngeo/build/
/marionb_geomapfish/static-ngeo/fonts/gmf-icons.*
/marionb_geomapfish/static-ngeo/fonts/fontawesome-webfont.*
/marionb_geomapfish/static/build/
/marionb_geomapfish/static/mobile/resources/sass/.sass-cache
/marionb_geomapfish/static/mobile/resources/css/app.css
/marionb_geomapfish/static/mobile/archive/
/marionb_geomapfish/static/mobile/build/
/marionb_geomapfish/static/mobile/openlayers-mobile.js
/marionb_geomapfish/static/mobile/bootstrap.js
/marionb_geomapfish/static/mobile/bootstrap.json
